.badge {
    float: right;
}

.chats.container {
    max-width: 1170px;
    margin: auto;
}

.chat-box {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.chat-groups.list-group {
    overflow: hidden;
    border-right: 1px solid #c4c4c4;
    height: 100%;
}

.chat-header {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
}

span.search-icon {
    background: none;
}

.chat-heading {
    float: left;
    width: 30%;
    color: #05728f;
    font-size: 21px;
    margin: auto auto auto 5%;
}

input.chat-searchbar {
    border: 0 solid #cdcdcd;
    border-bottom-width: 1px;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}