.chat-messages {
    float: left;
    width: 100%;
}

.chat-history {
    height: 85vh;
    width: inherit;
    overflow-y: auto;
}

.incoming-msg-img {
    display: inline-block;
    width: 6%;
    padding-left: 2.5%;
}

.incoming-msg > .received-msg > .card > .card-body > .btn.btn-secondary,
.outgoing-msg > .sent-msg > .card > .card-body > .btn.btn-secondary {
    margin-right: 0.5em;
}

.received-msg {
    display: inline-block;
    padding: 0 0 1.5em 10px;
    vertical-align: top;
    max-width: 50%;
}

.msg-content {
    width: auto;
}

.msg-content p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.msg-content-date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.sent-msg {
    float: right;
    padding-right: 1%;
    max-width: 50%;
}

.sent-msg > .card > .card-body {
    background-color: #434242;
}

.sent-msg p {
    color: #fff;
    width: 100%;
}

.msg-input {
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    border-top: 1px solid #c4c4c4;
    position: absolute;
    bottom: 0;
}

.msg-input > .input-group {
    position: inherit;
    bottom: inherit;
    width: inherit;
}

.outgoing-msg {
    overflow: hidden;
    margin: 26px 0 26px;
}