img.UserAuth-logo {
    width: 30em;
    height: 20em;
    display: block;
    margin: auto;
}

.App {
    width: 100vw;
    height: 100vh;
    /*background-image: url("../img/dog-footprints.svg");*/
    /*background-repeat: repeat;*/
    /*background-size: 30%;*/
    /*background-position: center;*/
}

.UserAuth-tabs {
    width: 50%;
    /*transform: translate(50%, -50%);*/
    margin: auto;
}

/*.login {*/
/*    padding: 1em;*/
/*}*/

/*div.user-alert{*/
/*    position: -webkit-sticky;*/
/*    position: sticky;*/
/*    top: 0;*/
/*}*/